// Body
$body-bg: white;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$primary: #ffc107;

$enable-negative-margins: true;
$nav-link-color: #9B9B9B;